<nav>
  <ul>
    {% for item in site.data.navigation %}
      {% assign is_current = false %}
      {% if page.nav_key == item.key %}
        {% assign is_current = true %}
      {% endif %}
      {% if item.children %}
        {% for child in item.children %}
          {% if page.nav_key == child.key %}
            {% assign is_current = true %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <li>
        <a href="{{ item.link[page.lang] | relative_url }}"{% if is_current %} class="current"{% endif %}>{{ item.name[page.lang] }}</a>
        {% if item.children %}
          <ul>
            {% for child in item.children %}
              <li>
                <a href="{{ child.link[page.lang] | relative_url }}"{% if page.nav_key == child.key %} class="current"{% endif %}>{{ child.name[page.lang] }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
