{% assign project = site.data.projects[page.project_id] %}
{% assign global = site.data.projects.global %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ project.title[page.lang] }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
{% include languages.html %}
{% include navigation.html %}
<h1>{{ project.title[page.lang] }}</h1>
<h2>{{ global.git_repository[page.lang] }}</h2>
<div>
    <a href="{{ project.repository }}">{{ project.repository }}</a>
</div>
{% if project.video %}
    <h2>{{ global.demo[page.lang] }}</h2>
    <div>
        <video controls width="800">
            <source src="{{ project.video | relative_url }}" type="video/mp4">
        </video>
    </div>
{% endif %}
<div>
{{ content }}
</div>
</body>
</html>
